.withdraw-history-container{
    width: 100%;
    min-width: 570px;
    padding-left: 0;
    .py-pl{
        padding: 40px 0 10px 20px;
        text-align: start;

        span{
            color: white;
            padding-right: 10px;
        }

        h1{
            font-size: 1.275rem;
            line-height: 1.75rem;
            color: white;
            margin: 0;
        }
    }

    .withraw-history-row{
        width: 100%;
        padding-top: 10px;
        margin-bottom: 80px;

        .col-12{
            padding: 0;
            
        }

        .withdraw-history-card{
            background-color: transparent;
            color: white;
            border: 0;
            border-bottom: 1px solid #e5e7eb;
        }

        h5{
            color: white;
            width: 100%;
        }
    }

}

@media (min-width: 768px) {
  .withdraw-history-container {
    min-width: 570px;
  }
}

@media (min-width: 320px) and (max-width: 344px) {
  .withdraw-history-container {
    min-width: 320px;
  }
}

@media (min-width: 344px) and (max-width: 360px) {
  .withdraw-history-container {
    min-width: 344px;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .withdraw-history-container {
    min-width: 360px;
  }
}

@media (min-width: 375px) and (max-width: 390px) {
  .withdraw-history-container {
    min-width: 375px;
  }
}

@media (min-width: 390px) and (max-width: 400px) {
  .withdraw-history-container {
    min-width: 390px;
  }
}

@media (min-width: 400px) and (max-width: 412px) {
  .withdraw-history-container {
    min-width: 412px;
  }
}

@media (min-width: 414px) and (max-width: 430px) {
  .withdraw-history-container {
    min-width: 414px;
  }
}

@media (min-width: 430px) and (max-width: 540px) {
  .withdraw-history-container {
    min-width: 430px;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .withdraw-history-container {
    min-width: 540px;
  }
}