.hot-product-container {
    max-height: 100%; 
    margin-top: 1rem;
    margin-bottom: 4rem !important;
    padding: 0 12px;

    .py-20{
        margin-top: 20px;
        margin-bottom: 20px;

        .text-lg{
            font-size: 1.275rem;
            line-height: 1.75rem;
            color: white;
            margin: 0;
            text-align: start;
        }

        .text-xs{
            font-size: 0.75rem;
            line-height: 1rem;
            color: white;
        }

        .text-amount{
            color: white;
            font-size: 15px;
            margin: 0;
        }
    }
}

.distribution-img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.distribution-card{
    background-color: transparent;
    color: white;
    border-radius: 7px;
    border: 1px solid #dbdfe4 !important;
    font-size: 0.85rem !important;

    p{
        margin-bottom: 0;
    }
}

.app-rules-card{
    background-color: transparent;
    color: white;
    border-radius: 7px;
    border: 1px solid #dbdfe4 !important;
    font-size: 0.93rem;
    margin-bottom: 5rem;
}

.modal-content{
    background-color: rgba(64, 64, 64, 0.57);
    backdrop-filter: blur(6px);
    color: white;

    .received-product-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0;
        border: none;
        color: white;
        
    
        img {
            width: 150px;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    
        .card-body {
            padding: 1rem;
            width: 100%;
            word-wrap: break-word;  
            word-break: break-word;
    
            .row {
                flex-wrap: wrap;
            }
    
            .col {
                text-align: left;
                width: 100%; 
            }
        }
    
        .card-body {
            word-wrap: break-word;  
            word-break: break-word; 
            z-index: 2;
    
            .warehouse-general{
                font-size: 14px;
            }
    
            .warehouse-info{
                font-size: 12px;
    
                .text-red{
                    color: #FF9A2C;
                    font-size: 16px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .distribution-card{    
        p{
            font-size: 12px !important;
        }
    }
    .received-product-card {
        flex-direction: column !important;
        align-items: center;

        img {
            width: 100% !important; 
            height: auto !important; 
            max-width: 100%;
            margin-bottom: 1rem;
            border-radius: 17px;
        }

        .card-body {
            padding: 1rem;
            width: 100%;

            .row {
                justify-content: space-between;
            }
        }
    }
}
