.avatar-div{
    padding-left: 12px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    .avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .avatar-hello{
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 10px;

    }
}

.field-money{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .box{
        padding: 0.5rem;
        background-color: transparent;
        backdrop-filter: blur(6px);
        padding: 7px;
        margin-bottom: 15px;
        border: 1px solid #dbdfe4;
        border-radius: 13px;
        color: white;
        text-align: center;
        font-size: 0.8rem;

        &.left-box{
            padding: 12px;

            .left-box-content{
                display: flex;
                justify-content: start;
                align-items: center;
                
                .p{
                    padding-left: 6px;
                }
            }
        }
    }

    .right-field-money{
        display: flex;
        gap: 0.75rem;
        flex-direction: row;
    }
}



.blur-card {
    background-color: transparent !important;
    backdrop-filter: blur(6px) !important;
    color: white !important;
    border: 1px solid #dbdfe4 !important;
    flex: 1; // Đảm bảo mỗi card chiếm không gian đều
}

.font-medium{
    font-weight: 700;
    
    .general-h2{
        color: white;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 12px 0 8px 0;
    }

    .general-box {
        background-color: transparent;
        backdrop-filter: blur(6px);
        padding: 22px 3px;
        margin-bottom: 15px;
        border: 1px solid #dbdfe4;
        border-radius: 13px;
        color: white;
        text-align: center;
        font-size: 0.8rem;


        .general-content-box{
            font-size: 0.875rem !important;
            line-height: 1.25rem;
            font-weight: normal;

        }
    
        .p{
            padding-left: 10px;
        }

        .company-info{
            cursor: pointer;
        }

        .noti-mail{
            cursor: pointer;
        }
    }

    .box-click{
        cursor: pointer;
    }

    .box > div:last-child {
        font-size: 12px;
    }
}

.modal-content{
    background-color: rgba(218, 218, 218, 0.929);
}
  
  
