.custom-container-bank-account {
    width: 100%;
}

.ct-bank-card {
    width: 100%;
    background-color: rgba(64, 64, 64, 0.57); 
    backdrop-filter: blur(6px);
    border-radius: 17px;
}

.left-col {
    padding: 0;
}

.bank-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px 0 0 17px;
}

.backArrow{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.ct-card {
    border: none;
    background-color: transparent; 
    padding: 20px;
    color: white;
    margin-bottom: 70px;
}

.btn-login {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #6b6f6f;
    border-radius: 8px;
    text-align: center;
    min-height: 32px;
    background-image: linear-gradient(to bottom, #3a405c, #365354);
    box-shadow: 5px 8px 10px #272c3e, 0 0 10px #272c3e;
}

.autocomplete-dropdown {
    border: 1px solid #ddd; /* Viền nhạt hơn */
    max-height: 200px; /* Giới hạn chiều cao tối đa */
    overflow-y: auto; /* Hiển thị thanh cuộn khi cần */
    position: absolute; /* Đặt dropdown ngay dưới input */
    width: 100%; /* Đảm bảo kích thước bằng với input */
    background-color: #fff; /* Màu nền trắng */
    z-index: 1000; /* Đảm bảo dropdown luôn nổi trên các thành phần khác */
    border-radius: 8px; /* Bo góc cho hộp dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
  }
  
  .autocomplete-item {
    padding: 12px; 
    cursor: pointer;
    font-size: 0.875rem;
    color: #333; 
    border-bottom: 1px solid #eee; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .autocomplete-item:last-child {
    border-bottom: none; 
  }
  
  .autocomplete-item:hover {
    background-color: #f1f1f1; 
    color: #007bff; 
  }
  
  .autocomplete-item:active {
    background-color: #e0e0e0; 
  }
  


