.custom-container-bank-account {
    .address-card{
        width: 60%;
    }
    .form-select {
        animation: slide-down 0.3s ease-in-out;
    }

    @keyframes slide-down {
        from {
            transform: translateY(-10px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .ct-card {
        .invalid-feedback {
            color: red;
        }
    }

    .btn-login {
        transition: background-color 0.3s ease;
        &:hover {
            background-color: darkblue;
        }
    }
}

.address-container-main{
    width: 100%;
    min-width: 680px;
    color: white;

    .py-pl{
        padding: 0 0 10px 20px;
        text-align: start;

        span{
            color: white;
            padding-right: 10px;
        }

        h1{
            font-size: 1.275rem;
            line-height: 1.75rem;
            color: white;
            margin: 0;
        }
    }

    .address-container {    
        .readonly-input {
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            pointer-events: none;
        }
    }
}



@media (max-width: 768px) {
    .address-container-main{
        min-width: 320px;
    }
}

@media (width: 390px) {
    .address-container-main{
        min-width: 390px;
    }
}

@media (width: 320px) {
    .address-container-main{
        min-width: 320px;
    }
}

@media (width: 412px) {
    .address-container-main{
        min-width: 412px;
    }
}

@media (width: 375px) {
    .address-container-main{
        min-width: 375px;
    }
}

@media (width: 414px) {
    .address-container-main{
        min-width: 414px;
    }
}

@media (width: 430px) {
    .address-container-main{
        min-width: 430px;
    }
}

@media (width: 768px) {
    .address-container-main{
        min-width: 680px;
    }
}

