.custom-container-bank-account {
    .address-card{
        width: 60%;
    }
    .form-select {
        animation: slide-down 0.3s ease-in-out;
    }

    @keyframes slide-down {
        from {
            transform: translateY(-10px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .ct-card {
        .invalid-feedback {
            color: red;
        }
    }

    .btn-login {
        transition: background-color 0.3s ease;
        &:hover {
            background-color: darkblue;
        }
    }
}

.address-container {
    select {
        width: 100%; 
        appearance: none; // Xóa mũi tên gốc của select trên một số trình duyệt để kiểm soát kiểu dáng

        &::-ms-expand {
            display: none; // Xóa mũi tên trên IE/Edge
        }

    }
    
    .readonly-input {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        pointer-events: none;
    }
}



@media (max-width: 768px) {
    .address-card{
        width: 100% !important;
    }
}
