.profile-container{
    width: 100%;
    min-width: 570px;
    height: 100%;
    padding-top: 20px;
    
}

.info-panel {
    .info-card {
      background-color: transparent;
      border: none;
      margin-bottom: 60px;

      .info-card-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        color: white;
        font-size: 14px;

        .card-top-left{
          img{
            width: 48px;
            height: 27px;
            object-fit: cover;
          }
        }

        .card-top-right{
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: end;
        }
      }

      .info-card-mid{
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        border-radius: 24px;
        border: 1px solid #dbdfe4;
        margin-bottom: 20px;


        .left-card-column, .right-card-column {
          display: flex;
          flex-direction: column; 
          justify-content: center; 
        }
    
        .right-card-column {
          display: flex; 
          flex-direction: column; 
          justify-content: center; 
          align-items: center; 
        }
      }
      
      ul {
        li {
          border-top: 1px solid #7a797d;

          &:last-child{
            border-bottom: 1px solid #7a797d;
          }
          p {
            cursor: pointer;
            padding: 10px 0 0 0;
            color: white;
            
          }
        }
      }
    }
}

@media (min-width: 768px) {
  .profile-container {
    min-width: 570px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .profile-container {
    min-width: 360px;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .profile-container {
    min-width: 360px;
  }
}

@media (min-width: 375px) and (max-width: 390px) {
  .profile-container {
    min-width: 375px;
  }
}

@media (min-width: 390px) and (max-width: 400px) {
  .profile-container {
    min-width: 390px;
  }
}

@media (min-width: 400px) and (max-width: 412px) {
  .profile-container {
    min-width: 412px;
  }
}

@media (min-width: 414px) and (max-width: 430px) {
  .profile-container {
    min-width: 414px;
  }
}

@media (min-width: 430px) and (max-width: 540px) {
  .profile-container {
    min-width: 430px;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .profile-container {
    min-width: 540px;
  }
}